<ion-view view-title="{{ navTitle }}" >
  <ion-header-bar class="bar-subheader custom-subheader bar">
    <i class="icon ion-calendar placeholder-icon"></i><h1 class="center title">Destinos turisticos</h1>
  </ion-header-bar>
  <ion-content class="has-subheader has-tabs">
    <div class="list list-inset hidden">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Rios, Cascadas, parques naturales" ng-model="search">
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input item-select">
        <div class="input-label">

        </div>
        <select ng-model="search">
          <option value="" selected="true">Todos</option>
          <option>Enero</option>
          <option>Febrero</option>
          <option>Marzo</option>
          <option>Abril</option>
          <option>Mayo</option>
          <option>Junio</option>
          <option>Julio</option>
          <option>Agosto</option>
          <option>Septiembre</option>
          <option>Octubre</option>
          <option>Noviembre</option>
          <option>Diciembre</option>
        </select>
      </label>
    </div>
    <ion-list>
      <ion-item ng-repeat="event in events | filter:search" href="#/app/events/{{ event.nid }}" class="item-thumbnail-left item card-item">
        <img ng-src="{{ event.pic }}"/>
        <h2>{{ event.title }}</h2>
        <h3 ng-if="event.address">{{ event.address }}</h3>
        <h3> {{ event.company[0] }} </h3>
        <p class="description"> {{ event.description }} </p>
        <ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>
        <div class="moment">{{touristic.date}}</div>
        <p class="comments subdued">{{ event.comments }} comentarios</p>
      </ion-item>
    </ion-list>
    </ion-infinite-scroll>
  </ion-content>
</ion-view>

