<ion-view view-title="{{ navTitle }}">
  <ion-content has-header="true" has-subheader="true" has-tabs="true" class="content-custom">
    <button id="fab-events" class="button button-cabecera" nav-view="active" style="opacity: 1; box-shadow: rgba(0, 0, 0, 0) 0px 0px 10px; transform: translate3d(0%, 0px, 0px);"><i class="icon ion-search"></i></button>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Hoteles, Lugares, Eventos, Agencias en Caquetá" ng-model="search">
      </label>
    </div>

    <ion-list>
      <ion-item ng-repeat="busqueda in busquedas | filter:search" href="#/app/search/{{ busqueda.nid }}" class="item-thumbnail-left item card-item">
        <img ng-src="{{ busqueda.pic }}"/>
        <h2>{{ busqueda.title }}</h2>
        <h3>{{ busqueda.address }}</h3>
        <h3> {{ busqueda.company[0] }} </h3>
        <p class="description"> {{ busqueda.description }} </p>
        <rating ng-model="rate" max="max"></rating>
        <p class="comments">{{ busqueda.comments }} comentarios</p>
      </ion-item>
    </ion-list>
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
