<ion-view view-title="{{ navTitle }}" >
  <ion-header-bar class="bar-subheader custom-subheader bar">
    <i class="icon ion-paper-airplane placeholder-icon"></i><h1 class="center title">Destinos turisticos</h1>
  </ion-header-bar>
  <ion-content class="has-subheader has-tabs">
    <ion-list>
      <div class="col col-100">
        <div class="item item-divider">
          <h2 class="center">Actividades</h2>
        </div>
        <label class="item item-input item-select">
          <select ng-model="search">
            <option value="" selected="true">Todos</option>
            <option>Agroturismo</option>
            <option>Barranquismo</option>
            <option>Buceo a pulmón</option>
            <option>Cabalgatas</option>
            <option>Caminatas</option>
            <option>Canopy(Cable Aventura)</option>
            <option>Canyoning</option>
            <option>Ciclismo todo terreno</option>
            <option>Descenso en neumático</option>
            <option>Escalada de rocas o muros</option>
            <option>Espeleismo</option>
            <option>Fotografía</option>
            <option>Kayak</option>
            <option>Montañismo y caminata</option>
            <option>Observación de flora y fauna</option>
            <option>Paintball</option>
            <option>Parapentismo</option>
            <option>Parasailing</option>
            <option>Pesca Deportiva</option>
            <option>Picnic</option>
            <option>Piraguismo/Kayaking</option>
            <option>Rafting o Canotaje</option>
            <option>Raid 4x4</option>
            <option>Rappel</option>
            <option>Senderismo</option>
            <option>Torrentismo</option>
            <option>Turismo Gastronómico</option>
            <option>Turismo religioso</option>
            <option>Visita a sitios arqueológicos</option>
            <option>Visita a yacimientos mineros</option>
            <option>Visita a pueblos autóctonos</option>
            <option>Visitas empresariales</option>
          </select>
        </label>
      </div>
      <div class="col col-100">
        <div class="item item-divider">
          <h2 class="center">Tipo de atractivo</h2>
        </div>
        <label class="item item-input item-select">
          <select ng-model="search">
            <option value="" selected="true">Todos</option>
            <option>Cultural</option>
            <option>Fluvial</option>
            <option>Gastronómico</option>
            <option>Histórico</option>
            <option>Parque o reserva natural</option>
          </select>
        </label>
      </div>
      <ion-item ng-repeat="touristic in touristics | filter:search" href="#/app/touristics/{{ touristic.nid }}" class="item-thumbnail-left item card-item">
      {{ touristic.address[0] }}
        <img ng-src="{{ touristic.pic }}"/>
        <h2 ng-bind-html="touristic.title"></h2>
        <h3 ng-if="touristic.address[0].length > 0">{{ touristic.address[0] }}</h3>
        <h3> {{ touristic.company[0] }} </h3>
        <p class="hidden">{{ touristic.activity }}</p>
        <p class="hidden">{{ touristic.atractivo }}</p>
        <p class="description"> {{ touristic.description }} </p>
        <rating ng-model="rate" max="max"></rating>
        <p class="comments subdued">{{ touristic.comments }} comentarios</p>
      </ion-item>
    </ion-list>
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
