<ion-view view-title="{{ navTitle }}" >
  <ion-header-bar class="bar-subheader custom-subheader bar">
    <i class="icon ion-location placeholder-icon"></i><h1 class="center title">Que hay cerca de mi</h1>
  </ion-header-bar>
  <ion-content class="has-subheader has-tabs">
    <div class="item item-divider">
      <h2 class="center">Tipo de empresa</h2>
    </div>
    <div class="list list-inset filters-custom">
      <label class="item item-input item-select">
        <select ng-model="search">
          <option value="" selected="true">Todos</option>
          <option>Agencias</option>
          <option>Artesanías</option>
          <option>Autobuses turísticos</option>
          <option>Centros educativos</option>
          <option>Centros espirituales</option>
          <option>Entidades de salud</option>
          <option>Entidades gubernamentales</option>
          <option>Ferry</option>
          <option>Fincas</option>
          <option>Fuerzas militares</option>
          <option>Guías</option>
          <option>Hoteles</option>
          <option>Museo</option>
          <option>Productos alimenticios</option>
          <option>Restaurantes</option>
          <option>Salones de eventos</option>
          <option>Souvenirs y recuerdos</option>
        </select>
      </label>
    </div>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists | filter:search" href="#/app/playlists/{{ playlist.nid }}" class="item-thumbnail-left item card-item">
        <img ng-if="playlist.pic.length > 1" ng-src="{{ playlist.pic }}"/>
        <h2 ng-bind-html="playlist.title"></h2>
        <h3 ng-if="playlist.address.length > 1">{{ playlist.address }}</h3>
        <h3 ng-if="playlist.company[0].length > 1"> {{ playlist.company[0] }} </h3>
        <p class="description" ng-if="playlist.description.length > 1"> {{ playlist.description }} </p>
        <ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>
        <p class="comments subdued">{{ playlist.comments }} comentarios</p>
        <p class="hidden"> {{ playlist.description }} </p>
      </ion-item>
    </ion-list>
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
