<ion-view view-title="{{ navTitle }}">
  <ion-content class="has-tabs">
    <ion-list>
      <ion-item class="item-thumbnail-left item">
        <img ng-src="http://caqueta.travel/sites/default/files/{{ detail.field_imagen.und[0].filename }}" class="fullscreen-image"/>
        <h2 ng-bind-html="detail.title" class="title-detail"></h2>
        <h3 ng-bind-html="detail.field_lugar_o_direccion.und[0].value"></h3>
        <div>
          <button ng-click="message()" class="ion-email"></button>
          <button ng-click="shareAnywhere(detail.title , 'Te comparto caquetá turistica', 'http://caqueta.travel/sites/default/files/detail.field_imagen.und[0].filename')"><i class="ion-android-share-alt"></i></button>
          <button ng-click="shareViaWhatsApp(detail.title, 'http://caqueta.travel/sites/default/files/detail.field_imagen.und[0].filename', 'http://caqueta.travel');" class="ion-social-whatsapp"></button>
          <button ng-click="favorites( detail.title, detail.nid, detail.body.und[0].value, 'http://caqueta.travel/sites/default/files/detail.field_imagen.und[0].filename' )"><i class="ion-star"></i></button>
          <rating ng-model="rate" max="max"></rating>
        </div>
      </ion-item>
      <h3 class="center item item-divider">Comentarios</h3>
      <ion-item ng-repeat="comment in detail.comments">
        <h4 ng-bind-html="comment.title"></h4>
        <p ng-bind-html="comment.comment"></p>
      </ion-item>
      <p class="padding" ng-bind-html="detail.body.und[0].value"></p>
      <a class="item item-list-detail">
        <ion-scroll direction="x">
          <img ng-repeat="image in detail.field_galer_a.und" ng-src="http://caqueta.travel/sites/default/files/{{ image.filename }}" ng-click="showImages($index)" class="img-gallery"  height="{{ media_list.height }}" width="200px" height="300px"/>
        </ion-scroll>
      </a>
    </ion-list>
    <div class="col col-100">
      <h2 class="center">Comentar</h2>
      <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Asunto" ng-model="contact.subject">
      </label>
      <label class="item item-input">
        <textarea placeholder="Mensaje" ng-model="contact.comment"></textarea>
      </label>
      <label class="item">
        <button class="button button-block button-positive" type="submit" ng-click="doComment({{ detail.nid }})">Enviar mensaje</button>
      </label>
    </div>
  </ion-content>
</ion-view>
